#box {
    width:900px;
    height:1700px;
    background-color:#white;
    position:absolute;
    top:0px;
    right:0px;
}

#box1 {
    width:150px;
    height:150px;
    background-color:#DCD2FF;
    position: absolute;
    left:0px;
    top:0px;
}

#box2 {
    width:150px;
    height:150px;
    background-color:#cbc3ea;
    position:absolute;
    left:0px;
    top:150px;
}

#box3 {
    width:150px;
    height:150px;
    background-color:#dfc7ed;
    position:absolute;
    left:150px;
    top:00px;
}

#box4 {
    width:150px;
    height:150px;
    background-color:#edc7ed;
    position:absolute;
    left:300px;
    top:0px;
}

#box5 {
    width:150px;
    height:150px;
    background-color:#edc7d9;
    position:absolute;
    left:450px;
    top:0px;
}

#box6 {
    width:150px;
    height:150px;
    background-color:#edc7d2;
    position:absolute;
    left:600px;
    top:0px;
}

#box7 {
    width:150px;
    height:150px;
    background-color:#edc7ca;
    position:absolute;
    left:750px;
    top:0px;
}

#box8{
    width:150px;
    height:150px;
    background-color:#edc7c7;
    position:absolute;
    left:750px;
    top:0px;
}
#box8{
    width:150px;
    height:150px;
    background-color:#edccc7;
    position:absolute;
    left:900px;
    top:0px;
}

#box9 {
    width:150px;
    height:150px;
    background-color:#bdb6da;
    position:absolute;
    left:0px;
    top:300px;
}

#box10 {
    width:150px;
    height:150px;
    background-color:#afa9ca;
    position:absolute;
    left:0px;
    top:450px;
}

#box11 {
    width:150px;
    height:150px;
    background-color:#a49ebd;
    position:absolute;
    left:0px;
    top:600px;
}
#box12 {
    width:150px;
    height:150px;
    background-color:#9893af;
    position:absolute;
    left:0px;
    top:750px;
}
#box13 {
    width:150px;
    height:150px;
    background-color:#8e89a2;
    position:absolute;
    left:0px;
    top:900px;
}
#box14 {
    width:150px;
    height:150px;
    background-color:#d4bfe1;
    position:absolute;
    left:150px;
    top:150px;
}
#box15 {
    width:150px;
    height:150px;
    background-color:#c8b4d4;
    position:absolute;
    left:150px;
    top:300px;
}

#box16 {
    width:150px;
    height:150px;
    background-color:#bca9c7;
    position:absolute;
    left:150px;
    top:450px;
}

#box17 {
    width:150px;
    height:150px;
    background-color:#ad9bb8;
    position:absolute;
    left:150px;
    top:600px;
}

#box18 {
    width:150px;
    height:150px;
    background-color:#9e8ca8;
    position:absolute;
    left:150px;
    top:750px;
}

#box19 {
    width:150px;
    height:150px;
    background-color:#8e7e97;
    position:absolute;
    left:150px;
    top:900px;
}
#box20 {
    width:150px;
    height:150px;
    background-color:#ddbadd;
    position:absolute;
    left:300px;
    top:150px;
}

#box21 {
    width:150px;
    height:150px;
    background-color:#ccabcc;
    position:absolute;
    left:300px;
    top:300px;
}

#box22 {
    width:150px;
    height:150px;
    background-color:#bb9cbb;
    position:absolute;
    left:300px;
    top:450px;
}

#box23 {
    width:150px;
    height:150px;
    background-color:#ac8eac;
    position:absolute;
    left:300px;
    top:600px;
}

#box24 {
    width:150px;
    height:150px;
    background-color:#9c809c;
    position:absolute;
    left:300px;
    top:750px;
}

#box25 {
    width:150px;
    height:150px;
    background-color:#8f758f;
    position:absolute;
    left:300px;
    top:900px;
}

#box26 {
    width:150px;
    height:150px;
    background-color:#dfbbc6;
    position:absolute;
    left:600px;
    top:150px;
}

#box27 {
    width:150px;
    height:150px;
    background-color:#cdabb5;
    position:absolute;
    left:600px;
    top:300px;
}
#box28 {
    width:150px;
    height:150px;
    background-color:#bf9ea8;
    position:absolute;
    left:600px;
    top:450px;
}

#box29 {
    width:150px;
    height:150px;
    background-color:#af9099;
    position:absolute;
    left:600px;
    top:600px;
}

#box30 {
    width:150px;
    height:150px;
    background-color:#a0838b;
    position:absolute;
    left:600px;
    top:750px;
}
#box31 {
    width:150px;
    height:150px;
    background-color:#91777e;
    position:absolute;
    left:600px;
    top:900px;
}

#box32 {
    width:150px;
    height:150px;
    background-color:#dfbccd;
    position:absolute;
    left:450px;
    top:150px;
}

#box33 {
    width:150px;
    height:150px;
    background-color:#d0afbf;
    position:absolute;
    left:450px;
    top:300px;
}
#box34 {
    width:150px;
    height:150px;
    background-color:#c1a2b1;
    position:absolute;
    left:450px;
    top:450px;
}
#box35 {
    width:150px;
    height:150px;
    background-color:#b092a0;
    position:absolute;
    left:450px;
    top:600px;
}
#box36 {
    width:150px;
    height:150px;
    background-color:#a08491;
    position:absolute;
    left:450px;
    top:750px;
}
#box37 {
    width:150px;
    height:150px;
    background-color:#937885;
    position:absolute;
    left:450px;
    top:900px;
}

#box38 {
    width:150px;
    height:150px;
    background-color:#dfbcbf;
    position:absolute;
    left:750px;
    top:150px;
}

#box39 {
    width:150px;
    height:150px;
    background-color:#d0afb1;
    position:absolute;
    left:750px;
    top:300px;
}

#box40 {
    width:150px;
    height:150px;
    background-color:#c0a0a3;
    position:absolute;
    left:750px;
    top:450px;
}
#box41 {
    width:150px;
    height:150px;
    background-color:#b19295;
    position:absolute;
    left:750px;
    top:600px;
}

#box42 {
    width:150px;
    height:150px;
    background-color:#a18587;
    position:absolute;
    left:750px;
    top:750px;
}

#box43 {
    width:150px;
    height:150px;
    background-color:#92787a;
    position:absolute;
    left:750px;
    top:900px;
}

#box44{
    width:150px;
    height:150px;
    background-color:#dfc1bc;
    position:absolute;
    left:900px;
    top:150px;
}

#box45{
    width:150px;
    height:150px;
    background-color:#d1b4af;
    position:absolute;
    left:900px;
    top:300px;
}

#box46{
    width:150px;
    height:150px;
    background-color:#c4a8a4;
    position:absolute;
    left:900px;
    top:450px;
}

#box47{
    width:150px;
    height:150px;
    background-color:#b79b97;
    position:absolute;
    left:900px;
    top:600px;
}

#box48{
    width:150px;
    height:150px;
    background-color:#a88d89;
    position:absolute;
    left:900px;
    top:750px;
}

#box49{
    width:150px;
    height:150px;
    background-color:#997f7c;
    position:absolute;
    left:900px;
    top:900px;
}


#stripe1 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 0px;
    right:0px;
}

#stripe2 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 40px;
    right:0px;
    }
#stripe3 {
     width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 79px;
    right:0px;
}

#stripe4 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 117px;
    right:0px;
}

#stripe5 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 154px;
    right:0px;
}

#stripe6 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 190px;
    right:0px;
}

#stripe7 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 225px;
    right:0px;
}

#stripe8 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 259px;
    right:0px;
}

#stripe9 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 292px;
    right:0px;
}

#stripe10 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 324px;
    right:0px;
}

#stripe11 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 355px;
    right:0px;
}

#stripe12 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 385px;
    right:0px;
}

#stripe13 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 414px;
    right:0px;
}

#stripe14 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 442px;
    right:0px;
    }
#stripe15 {
     width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 469px;
    right:0px;
}

#stripe16 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 495px;
    right:0px;
}

#stripe17 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 520px;
    right:0px;
}

#stripe18 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 440px;
    right:0px;
}

#stripe19 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 520px;
    right:0px;
}

#stripe20 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 544px;
    right:0px;
}

#stripe21 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 567px;
    right:0px;
}

#stripe22 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top:589px;
    right:0px;
}

#stripe23 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 610px;
    right:0px;
}

#stripe24 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 630px;
    right:0px;
}

#stripe25 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 649px;
    right:0px;
}

#stripe26 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 667px;
    right:0px;
}

#stripe27 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 684px;
    right:0px;
}

#stripe28 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 700;
    right:0px;
}

#stripe29 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top:715px;
    right:0px;
}

#stripe30 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 729px;
    right:0px;
}

#stripe31 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 742px;
    right:0px;
}

#stripe32 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 754px;
    right:0px;
}

#stripe33 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 765px;
    right:0px;
}

#stripe34 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 775px;
    right:0px;
}

#stripe35 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 784px;
    right:0px;
}

#stripe36 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top:793px;
    right:0px;
}

#stripe37 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 800px;
    right:0px;
}

#stripe38 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 806px;
    right:0px;
}
#stripe39 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 811px;
    right:0px;
}

#stripe40 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 815px;
    right:0px;
}
#stripe41 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 818px;
    right:0px;
}

#stripe42 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 820px;
    right:0px;
}

#stripe43 {
    width: 2000px;
    height: 10px;
    background-color: white;
    position: fixed;
    top: 821px;
    right:0px;
}



