h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 72px; 
    position:absolute;
    top:0px;
    left:120px;
}
#circle1 {
    background-color: black;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 130px;
    left: 100px;
    border-radius: 500px;
}

ul {
    font-family: Helvetica, Arial, sans-serif;
    color:white;
    font-size:24px;
    position: absolute;
    left:225px;
    top:200px;
}
    