.bookmark {
	position: fixed;
	top: 0px;
	right: 100px;
	z-index: 100;
}

.sidebar{
	position: fixed;
	left: 40px;
	top:50px;
	z-index: 100;

}

a {
	color: black;
	text-decoration: none;
}

.once_upon_a_time{
	float: left;
	margin-right: 6px;

}

body {
	line-height: 38px;
	font-size: 28px;
	font-family: Alice;
	background-color: #F0FBFC;

}

.headline_background{
	width: 100%;
	height: 120px;
	background-color: white;
	z-index: 5;
	position: fixed;
	left: 0px;
	top:0px;
	background-color: #F0FBFC;
	opacity:.9;
	
}


.cinderella_text, .rapunzel_text, .sleeping_beauty_text, .snow_white_text{


}


.cinderella_page, .rapunzel_page, .sleeping_beauty_page, .snow_white_page {
	display: none;
	width: 700px;
	position: absolute;
	left: 150px;
	top: 100px;
	margin-bottom: 100px;

}

.homepage_container{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 75px;
	margin-bottom: 100px;
	float: both;
}

#rapunzel_sentence{
	font-family: Alice;
	width: 20%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: -60px;
	float: left;
	font-size: 24px;
	float:both;
}

#cinderella_sentence{
	font-family: Alice;
	width: 20%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: -60px;
	float: left;
	font-size: 24px;
	float:both;
}

#sleeping_beauty_sentence{
	font-family: Alice;
	width: 20%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: -60px;
	float: left;
	font-size: 24px;
	float:both;
}

#snow_white_sentence{
	font-family: Alice;
	width: 20%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: -60px;
	float: left;
	font-size: 24px;
	float:both;
}

.title{
	font-size: 98px;
	font-family: Alice;
	margin-bottom: 140px;

}

.cinderella_title, .rapunzel_title, .snow_white_title, .sleeping_beauty_title{
	font-size:30px;
	position: fixed;
	top: 30px;
	z-index: 100;
	font-family: Sacramento;
}

.line{
}

.clickable{
	line-height: 28px;
	font-size: 10px;
	font-family: Alice;
}


.box{
	height: 50px;
	width: 50px;
	background-color: red;
}


