.comp1 {
    width:180px;
    height: 800px;
    float: left;
    margin: 10px;

    
}

.comp2 {
    width:180px;
    height: 800px;
    float: left;
    margin: 10px;
    
}

.comp3 {
    width:180px;
    height: 800px;
    float: left;
    margin: 10px;
     
    
    
}

.comp4 {
    width:180px;
    height: 800px;
    float: left;
    margin: 10px;
    
}

.comp5 {
    width:180px;
    height: 800px;
    float: left;
    margin: 10px;
    
}

.comp6 {
    width:180px;
    height: 800px;
    float: left;
    margin: 10px;

    
}

span {
    font-size: 20px;
    font-family: monospace;
    letter-spacing: 3px;
}

.container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


span {
   color: black;
   text-decoration: none;
}
