body{
	margin: 0;
}
.letterBox{
	width: 18vw;
	height: 18vw;
	margin-right: 0.5vw;
	margin-left: 0.5vw;
	margin-top: 1vw;
	background-color: white;
	float: left;

}

#container {
	padding-top: 30px;
	width: 95vw;
	padding-right: 2.5vw;
	padding-left: 2.5vw; 
}

body{
	background-color: #F4F4F4;
	margin: 0;
	padding-bottom: 1000px;
}


.growing {
	width: 56vw;
	 -webkit-transition: width 1s; 
    transition: width 1s;
}

.shrinking {
	width: 18vw;
	 -webkit-transition: width 1s; 
    transition: width 1s;
}

@media (max-width: 750px) {
	.letterBox{
		width: 32vw;
		height: 32vw;
		margin-right: 0.5%;
		margin-left: 0.5%;
		margin-top: 1%;

	}
}

@media (max-width: 414px) {
	.letterBox{
		width: 99vw;
		height: 99vw;
		margin-right: 0.5%;
		margin-left: 0.5%;
		margin-top: 1%;

	}
}

#filter {
	padding:-10px;
	position: absolute;
	right: 5vw;
	top: 10px;
}


.square{
	background-color: black;
	height: 10px;
	width: 10px;
	margin: 2px;
	float: left;

}

#home {
	height: 30px;
	width: 30px;
	position: absolute;
	right:2vw;
	top: 2vw;

}

.definitionContainer {
/*	padding-top: 4vw;*/
	padding-right: 22vw;
	padding-left: 22vw;
	width:56vw;
	padding-top: 4vw;
	/*height: 32vw;*/
}

.word{
	font-size: 100px;
	font-family: Helvetica;
	text-align: center;
	background-color: black;
	height: 18vw;
	width: 56vw;
}

.definition{
	width: 25vw;
	padding-left: 1vw;
	float: left;
}
.pronunciation {
	padding-top: 30px;
	width: 25vw;
	padding-left: 1vw;
	float: both;

}

.quote {
	width: 25vw;
	padding-left: 1vw;
	float: left;



}
