body{
	margin: 0;
	background-color: #F4F4F4;
}
.letterBox{
	box-shadow: 0px 0px 0px 6px #F4F4F4 inset!important;
	width: 18vw;
	height: 18vw;
	margin-top: 6px;
	background-color: white;
	float: left;
	color: black;
	font-family: "Helvetica";
	font-size: 75px;
	text-align: center;
}

.copy{
	box-shadow: 0px 0px 0px 6px #F4F4F4 inset!important;
	width: 0;
	height: 0;
	margin: 0;
/*	background-color: #F4F4F4;
*/	float: left;
	color: black;
	font-family: "Helvetica";
	font-size: 75px;
	text-align: center;



}

.show{
	margin-top: 6px;
	width: 18vw;
	height: 18vw;
}

.hide {
	margin-top: 6px;
	width: 0px;
}

.squareshrink {
	float: left;
	width: 0!important;
	margin-top: : 6px!important;
	-webkit-transition: width 1.2s linear; 
    transition: width 1.2s linear;

}

.squaregrow {
	float: left;
	height: 18vw!important;
	width: 18vw!important;
	margin-top: 6px!important;
	-webkit-transition: width 1.2s linear; 
    transition: width 1.2s linear;

}

#extraSpace {
	height: 18vw;
	width: 18vw;
	background-color: #F4F4F4; 
	float: left;
}



.all{
	overflow: hidden;
	box-shadow: 0px 0px 0px 6px #F4F4F4 inset!important;
	margin-top: 6px;
}

.all:hover {
	box-shadow: 0px 0px 2px 6px #E5E5E5 inset!important;

}

#container {
	padding-top: 50px;
	width: 90vw;
	padding-right: 5vw;
	padding-left: 5vw; 
/*	height: 140vw;*/
/*	overflow: hidden;
*/	height: 90vw;
}

#definitionPage {
/*	padding-top: 10px;*/
	width: 100vw;

	display: none;

/*	height: 75vw;*/
	/*overflow: hidden;*/
}

.smallerImage{
	width: auto;
	height: 18vw;
	z-index: 100;
	box-shadow: 0px 0px 0px 6px #F4F4F4 inset!important;

}

.largerImage{
	width: 75vw;
	height: 25vw;
	z-index: 100;
}

.growing {
	width: 54vw;
	 -webkit-transition: width 1s; 
    transition: width 1s;
/*    box-shadow: 0px 0px 0px 6px #F4F4F4 inset!important;
*/}

.shrinking {
	width: 18vw;
	 -webkit-transition: width 2.4s linear; 
    transition: width 2.4s linear;
}



@media (max-width: 750px) {
	.letterBox{
		width: 32vw;
		height: 32vw;
		margin-right: 0.5%;
		margin-left: 0.5%;
		margin-top: 1%;

	}
}

@media (max-width: 414px) {
	.letterBox{
		width: 99vw;
		height: 99vw;
		margin-right: 0.5%;
		margin-left: 0.5%;
		margin-top: 1%;

	}
}

#filter {
	padding:-10px;
	position: absolute;
	right: 5vw;
	top: 10px;
}


.square{
	background-color: black;
	height: 10px;
	width: 10px;
	margin: 2px;
	float: left;

}

#home {
	height: 30px;
	width: 30px;
	position: absolute;
	right:2vw;
	top: 2vw;

}

.definitionContainer {
	padding-right: 12.5vw;
	padding-left: 12.5vw;
	width:75vw;
	margin-top: -150px;
	height: 54vw;
	overflow: hidden;
}

.metadataContainer {
	padding-right: 23vw;
	padding-left: 23vw;
	width:54vw;
	margin-top: 4vw;
	height: 100px;

}

img{
/*	height: 18vw;
	width: auto;*/
	box-shadow: 0px 0px 0px 6px #F4F4F4 inset!important;

}

.leftContainer {
	width: 25vw;
	margin-right: 2vw;
	margin-left: 10.5vw;
	float: left;
}

.righContainer {
	width: 25vw;
	margin-left: 2vw;
	margin-right: 10.5vw;
	float: left;
}

.word{
	font-size: 100px;
	color: white;
	/*font-family: Helvetica;*/
	text-align: center;
	background-color: black;
	height: 25vw;
	width: 75vw;
	margin-bottom: 20px;
}
.theWordText{
	width: 25vw;
	float: left;
/*	background-color: pink;*/
/*	font-family: Helvetica;*/
	margin-bottom: 10px;

}
.definition{
	width: 25vw;
	float: left;
/*	background-color: blue;*/
	/*font-family: Helvetica;*/
	margin-bottom: 10px;
	font-weight: bold;
}
.pronunciation {
/*	padding-top: 30px;*/
	width: 25vw;
	float:left;
	font-style: italic;
/*	background-color: red;*/
	margin-bottom: 10px;
	font-family: Helvetica;

}

.quote {
	width: 25vw;
	float: left;
/*	background-color: yellow;*/
	margin-bottom: 10px;
/*	font-family: Helvetica;*/
	height: 18vw;
	overflow: scroll;

}

.dim {
	 filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  opacity: 0.4;
}

.wordClass{
	width: 25vw;
	float: left;
/*	background-color: green;
*/	margin-bottom: 10px;
	font-family: Helvetica;
/*	margin-right: 1.5vw;*/

}

.homepage {
	width: 70vw;
	height: auto;
	margin-left: 15vw;
	margin-top: 10vw;
	z-index: 800;
	position: fixed;

}


#onload {
	height: 100%;
	width: 100%;
	background-color: #F4F4F4;
	/*z-index: 700;*/
	position: fixed;
}

#explaination {
	z-index: 750;
	color: black;
	font-size: 20px;
	font-family: Helvetica;
	position: fixed;
	top: 40vw;
	margin-left: 10vw;
	margin-right: 10vw;
/*	top: */

}


